body {
  margin: 0px;
  padding: 0px;
}

#front {
  width: 100%;

  #display_data {
    width: 240px;
    font-size: 100px;
    font-weight: bold;
    color: white;
    //position: absolute; // i do not get text-align center
    margin-left: auto;
    margin-right: auto;
    //display: table-cell;
    text-align: center;
  }
  #display_unit {
    display: inline-block;
    margin-top: 20px;
    color: #ffffff;
  }
  #target {
    height: 40px;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
    #target .t_label{
      display: inline-block;
      margin-right: 10px;
      margin-left: 95px;
      color: #ffffff !important;
    }

    #target #target_textfield{
      background: #91A63B;
      display: inline-block;
      width: 70px;
      border: 1px solid white;
      text-align: right;
      color: white !important;
      margin-right: -3px !important;
    }
  #chart{
    margin-left: 10px;
    margin-right: 10px;
  }
}

#back {
  color: #ededed;
  text-align: left;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  .gauge_description {
    text-align: center;
  }
  /*  .gauge_select_wrapper {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .gauge_select_wrapper label.gauge_label {
      display: none; }
    .gauge_select_wrapper select.gauge_select {
      width: 230px ;
      padding-bottom: 100px;
    }*/
  .maximum_value {
    height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .maximum_value .max_label{
    line-height: 32px;
  }
  .maximum_value .max_input{
    float: right;
    width: 110px;
  }
  .minimum_value {
    height: 32px;
    margin-bottom: 10px;
  }
  .minimum_value .min_label {
    line-height: 32px;
  }
  .minimum_value .min_input{
    float: right;
    width: 110px;
  }
  .unit {
    height: 32px;
    margin-bottom: 10px !important;
  }
  .unit .unit_label {
    line-height: 32px;
  }
  .unit .unit_input {
    float: right;
    width: 110px;
  }
  .target_value {
    height: 32px;
    margin-bottom: 10px;
  }
  .target_value .target_label {
    line-height: 32px;
  }
  .target_value .target_input{
    float: right;
    width: 110px;
  }
  .target_accuracy {
    height: 32px;
    margin-bottom: 10px;
  }
  .target_accuracy .target_accuracy_label {
    line-height: 32px;
  }
  .target_accuracy .target_accuracy_input{
    float: right;
    width: 110px;
  }
/*  .accuracy_select_wrapper {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .accuracy_select_wrapper label.accuracy_label {
    line-height: 32px;
    margin-bottom: 10px;
    margin-right: 45px;
  }
  .accuracy_select_wrapper select#accuracy_select {
    float: right;
    width: 120px;

  }*/

  .done-btn-wrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;

    .done-btn {
      margin-bottom: 20px;
    }
  }
}
